body {
  margin: 0;
  padding: 0;
  background: #13131a;
  color: #ffffff;
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  list-style-type: none;
  font-weight: bold;
}

.sidebar {
  position: fixed;
  max-width: 248px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #292929;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sidebar hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: #ffffff;
  opacity: 0.5;
}

.sidebar .new-note {
  width: 200px;
  margin: 1rem;
  background-color: #00a82d;
  border: none;
  border-radius: 20px;
  height: 36px;
  justify-content: left;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline: none;
}

.sidebar .new-note img {
  margin-left: 1rem;
}

.sidebar .new-note .btn-text {
  margin-left: 1rem;
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
}

.sidebar .notes-bar {
  background: #363636;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  align-items: center;
}

.sidebar .arrow {
  margin-left: 0.5rem;
}

.sidebar .bar-text {
  margin-right: 7rem;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  /* background-color: #000; */
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.li-active::before {
  content: "\2022";
  font-size: 1.5rem;
  color: #34b7f8;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* input */
.wrapper {
  margin-left: 280px;
}

.note-home {
  margin-top: 2rem;
}

.note-home span {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.87;
}

/* Card css */
.card-list {
  display: flex;
  padding: 3rem;
  padding-top:1rem;
  padding-left: 0;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
  height: 200px;
  width: 150px;
  min-width: 150px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: 1rem 0 1rem #000;
  display: flex;
  flex-direction: column;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  border: solid 0.5px #7868e6;
}

.card:focus-within ~ .card,
.card:hover ~ .card {
  transform: translateX(130px);
}

.card:hover {
  transform: translateY(-0.5rem);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card .card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-break: break-word;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.card .card-content {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size:10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-break: break-word;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  -webkit-line-clamp: 9;
}

.card .note-btns {
  display: flex;
  margin-top: auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.card .note-btns img {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}
#notebookEbtn{
  
}